---
title: Version Control
suppress_header: true
canonical_path: "/solutions/version-control/"
extra_css:
  - solutions-v3.css
  - comparison-page-v2.css
  - carousel.css

extra_js:
  - comparison-v2.js
  - bootstrap-tooltip.js
  - carousel.js
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content-110
    = image_tag "/images/devops-tools/gitlab-logo.svg", class: "hero-image-small", alt: "Gitlab logo svg"
    %h1 GitLab Version Control
    %p
      Make sense of software development and deliver value incrementally

.content-container.padding-vertical0
  / ----- This creates the two panel section video overview
  .content-container.padding-vertical0.white-bg{:id=>"version-control-collaboration-overview"}
    .container
      = partial('/includes/solutions/vcc/1-two-column-video-overview.html.haml')


  .content-container.padding-vertical0.grey-bg.container{:id=>"gitlab-version-control-collaboration-outcome"}
    / ----- This creates a three tile section
    .container
      = partial('includes/solutions/vcc/value-drivers.html.haml')

  .content-container.padding-vertical0.white-bg.container{:id=>"version-control-collaboration-events"}
    / ----- This creates the Call to Action - Register for events
    .container
      = partial('includes/solutions/vcc/cta-events.html.haml')

  .content-container.padding-vertical0.grey-bg{:id=>"gitlab-version-control-collaboration-benefits"}
    / ----- This creates a three tile section
    .container
      = partial('includes/solutions/vcc/advantage-2.html.haml')

  .content-container.padding-vertical0.grey-bg.container{:id=>"version-control-collaboration-happy-customers"}
    / ----- This creates the recommendation/quote block
    .container
      = partial('includes/solutions/vcc/worldline-quote.html.haml')

  .content-container.padding-vertical0.white-bg.container{:id=>"version-control-collaboration-future"}
    / ----- This creates a three tile section
    .container
      = partial('includes/solutions/vcc/vcc-roadmap.html.haml')

  .content-container.padding-vertical0.grey-bg.container{:id=>"version-control-collaboration-capabilities"}
    / ----- This creates the Case Studies Carousel  The content is in the solutions.yaml data file
    .container
      - content = data.solutions.vcc.case_studies
      = partial('includes/solutions/carousel/index.html.haml', :locals => { :title => content.title, :subtitle => content.subtitle, :items => content.items })

  .content-container.padding-vertical0.white-bg.container{:id=>"version-control-collaboration-reviews"}
    / ----- This creates the Gartner Peer Insights  The content is in the solutions.yaml data file
    .container
      - content = data.solutions.vcc.gartner_peer_insights
      = partial('includes/solutions/carousel/index.html.haml', :locals => { :title => content.title, :subtitle => content.subtitle, :items => content.items })
