.misused-avoid,
.misused-use-instead {
  width: 15em;
}

.misused-avoid,
.misused-use-instead,
.misused-reason {
  font-size: 14px;
}

.misused-avoid {
  position: relative;

  > p:first-child {
    margin-right: 1em; /* leave space for the permalink on the first row */
  }
}

.misused-permalink {
  opacity: 0.25;
  display: inline-block;
  width: 1.75em;
  height: 1.75em;
  vertical-align: middle;
  background: url("/images/icons/icon_anchor.svg") center center no-repeat;
  background-size: 1em;
  text-indent: -99999em;
  direction: ltr;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 8px; /* to account for cell padding */
  margin-top: -2px; /* to align with first row's baseline */

  &:focus,
  &:hover {
    opacity: 1;
  }
}

tr:target td {
  background: #ffffe0;
}
